{% extends "gameplanapp/base_generic.html" %}
{% block content %}

<body>

    <section class="container">
        <h2>Add Picture</h2>
            <div class="row">
                {% block form %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update">
                </form>
                {% endblock %}    
            </div>    
        </section>

{% endblock %}      