{% extends "gameplanapp/base_generic.html" %}
{% block content %}
    <div class="container-fluid">
        <h1 style="text-align: center;">About Us</h1>
        <div class="row">
            <div class="col-md-1">
                <!-- Spacing -->
            </div>
            <div class="col-lg-2">
                <h2>Matthew Yin</h2>
                <p>Description:</p>
                <p>I am a Senior Georgia State student pursuing a Bachelor’s degree in Computer Science. 
                    Languages that I know are Python, HTML, CSS, C, and Java. 
                    I have also received work experience as a tester at ADVA. 
                    I had the opportunity to debug and create automation test suites for optical applications. 
                    In order to auto generate the test suites, I created a python file that takes input from an excel sheet and prints to a file the test code.</p>
            </div>
            <div class="col-lg-2">
                <h2>Soojie Chin</h2>
                <p>Description:</p>
                <p>Pursuing Bachelors in CS, concentrating on Cyber Security
                    Languages: Java, JavaScript, brief understanding of Python, C#
                    Seeking work experience to build skills and gain proficiency 
                    </p>
            </div>
            <div class="col-lg-2">
                <h2>Amber Pradhan</h2>
                <p>Description:</p>
                <p>Majoring in Computer Science: concentrating on Software engineering
                    Languages: Java, Sql, Html & Css, adapting-JavaScript
                    Projects Experienced: Billing Software for the Owners and Employees, Mini-Projects such as Notepad-Editor, Car-Racing using Applets, Tik-Tok
                    Looking for an opportunity where I can be creative,learn and contribute to the project.
                   </p>
            </div>
            <div class="col-lg-2">
                <h2>Raghuveer Gummadi</h2>
                <p>Description:</p>
                <p>BsC in Mathematics and a minor in CS from Kennesaw State University,
                    current Masters student in CS at GSU
                    Languages: Python, familiar with Java and C#
                    Work Experience: Application Developer at Meditech
            </p>
            </div>
        </div>
        <div class="container-fluid">
            <br><br>
            <h1 style="text-align: center;">Contact Us</h1>
            <h4>Email:</h4>
            <p>GameplanExample@gmail.com</p>
            <h4>Phone Number:</h4>
            <p>123-456-7890</p>
            <h4>Address:</h4>
            <p>123 Example St. SW City State</p>
        </div>
    </div>
{% endblock %}