{% extends "gameplanapp/base_generic.html" %}
{% block content %}

    <h1 class="text-center">Create Event</h1>
    <div class="row">
        <div class="col-lg-4">
            <!-- Spacing-->
        </div>
        <div class="col-lg-4">
            {% block form %}
            <h2>Create Event</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="Create">
            </form>
            {% endblock %}
        </div>
        <div class="col-lg-9">

        </div>
        <div class="col-lg-12">

        </div>
{% endblock %}