{% extends "gameplanapp/base_generic.html" %}
{% block content %}

<body>

    <!-- Event Details -->
    <section class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>Title : {{event.event_title}}</h3>
                    <h3>Location: {{event.event_location}}</h3>
                    <h3>Start Date: {{event.event_date}}</h3>
                    <h3>Organizer: {{event.event_manager}}</h3>
                    <h3>Event Description: {{event.event_details}}</h3> 

                </div>

            </div>

            <div class="row">
                {% if request.user.pk == event.event_manager.pk %}
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <a href="/gameplanapp/event/{{event.id}}/delete" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Cancel Event</button></a>
                    <a href="/gameplanapp/event/{{event.id}}/update" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Edit</button></a>
                    <a href="{% url 'events' %}" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Back</button></a>
                </div>
                {% elif event in attending_list %}
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <a href=#><button class="btn btn-dark text-warning" id="backBtn">Joined</button></a>
                    <a href="{% url 'events' %}" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Back</button></a>
                </div>
                {% else %}
                <div class="col-lg-10 col-sm-10 col-md-10">
                    <a href="/gameplanapp/event/{{event.id}}/join" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Join</button></a>
                    <a href="{% url 'events' %}" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Back</button></a>
                </div>
                {% endif %}
            </div>
    
        </section>

        <!-- Event Details End -->
        <section id="Gallery">
            <div class="container">
                <h3 class="text-center">Event Gallery</h3>
                <div class="row">
                    {% if eventgallery_list %}
        
                    {% for eventgallery in eventgallery_list %}
                    <div class="col-md-4 myEventBox">
                        <div class="content">
                            <div class="myEventDescription card">
                                {% load static %}
                                <img src="{{eventgallery.gallery_picture.url}}" alt="" class="card-img  img-thumbnail">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>There are no pictures to show.</p>
                    {% endif %}    
                </div>
                <div class="row">
                    <a href="/gameplanapp/event/{{event.id}}/addgalleryphoto" class="text-light"><button class="btn btn-dark text-warning" id="backBtn">Add picture</button></a>
                </div>
        </section>
{% endblock %}   
