{% extends "gameplanapp/base_generic.html" %}
{% block content %}

<!-- Create Event Starts -->
<section class="container">
    <div class="row" id="creatEventBackground">
        <div class="col-md-6">
            <h3>Create an Event</h3>
            <a class="btn btn-dark " href="{% url 'create_event' %}" roll="button">Create Event</a>
</section>
<hr>

<!-- Create Event Ends -->


<!-- Event List Starts -->
<section id="myEventList">
    <div class="container">
        <h3 class="text-center">My Event List</h3>
        <div class="row">
            {% if event_list %}

            {% for event in event_list %}
            <div class="col-md-4 myEventBox">
                <div class="content">
                    <div class="myEventDescription card">
                        <img src="images/event.png" alt="" class="card-img  img-thumbnail">
                        <h3>{{event.event_title}}</h3>
                        <a href="{{ event.get_absolute_url }}">View Details <i
                                class="fa fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <p>There are no events to show.</p>
            {% endif %}    
        </div>

</section>

<!-- Event List Ends -->
{% endblock %}