<!DOCTYPE html>
<html lang="en">

<head>
    <title> GamePlan </title>
    <meta charaset="utf-8">
    <meta name="viewport" content="width=device-wdith, intial-scale=1">


    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <style>
        body {
            background-color: darkgray;
        }

        .affix {
            top: 0;
            width: 100%;
            z-index: 9999 !important;
        }

        .affix+.container-fluid {
            padding-top: 70px;
        }

        .navbar {
            overflow: hidden;
            background-color: black;
            font-family: Arial;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 0px 15px;
            text-decoration: none;
            width: 100%;
        }

        .navbar a:hover {
            background-color: gray;
        }
    </style>
</head>

<body>

    <div class="jumbotron text-center bg-dark text-white" style="margin-bottom:0">
        <a class="text-center text-white bg-dark" src="logo.png" href="Home_Page.html">
            <h1>GamePlan</h1>
        </a>
        <p>Team 8</p>
    </div>

    <nav class="navbar navbar-inverse navbar-dark" data-spy="affix" data-offset-top="197">
        <div class="container-fluid">

            <ul class="nav navbar-toggle">
                <li class="active"><a class="active" href="{% url 'index' %}">
                        <h3>Home</h3>
                    </a></li>
                <li class="active"><a class="active" href="{% url 'create_event' %}">
                        <h3>Events</h3>
                    </a></li>
                <li class="active"><a class="active" href="{% url 'contact_us' %}">
                        <h3>Contact Us</h3>
                    </a></li>
            </ul>
            <div class="navbar navbar-inverse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="active" href="{% url 'friends' %">
                        <h3>Friends</h3>
                    </a>
                    <li class="active"><a class="active" href="{% url 'profile' %">
                        <h3>Profile</h3>
                    </a>

                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="active"><a class="active" href="{% url 'logout' %}">
                            <h3>Logout</h3>
                        </a></li>
                    {% else %}
                    <li class="active"><a class="active" href="{% url 'login' %}">
                            <h3>Login</h3>
                        </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <!-- Spacing -->
            </div>
            <div class="col-lg-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <br>
                            <th>
                                <h2>Potential Friends</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <br>
                            <th>
                                <h2>Online Friends</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <br>
                            <th>
                                <h2>Offline Friends</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>