{% extends "gameplanapp/base_generic.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
               <h1>Name: {{ request.user.username }}</h1>
               {% if gameplanuser.profile_picture %}
                    <img src="{{gameplanuser.profile_picture.url}}" width="250"/>
                {% else %}
               <img src="http://via.placeholder.com/300x250" />
                {% endif %}
               <p>Description: {{gameplanuser.user_bio}}</p>
               <a href="/gameplanapp/user/{{gameplanuser.user.id}}/update" type="button" class="btn btn-primary btn-lg btn-block mb-2">Update Profile</a>
            </div>
            <div class="col-lg-3">
                <h1>Friends List</h1>
                <table class="table table-hover">
                    <tbody>
                    {% for friendship in friends_list %}
                    <td>{{friendship.friend.user.username}}</td>           
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}