{% extends "gameplanapp/base_generic.html" %}
{% block content %}


    <div class="container">

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <br>
                            <th>
                                <h1>Events</h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if events_list %}
                        <ul>
                            {% for event in events_list %}
                            <tr>
                                <td>{{event.event_title}}</td>
                            </tr>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <tr>
                            <td>No events are available</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <br>
                            <th>
                                <h1>Games</h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if games_list %}
                        <ul>
                            {% for game in games_list %}
                            <tr>
                                <td>{{game.game_title}}</td>
                            </tr>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <tr>
                            <td>No games are available</td>
                        </tr>
                        {% endif %}                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}