{% extends "gameplanapp/base_generic.html" %}
{% block content %}

    <div class="row">
        <div class="col-lg-2">
            <!--Page spacing, no code needed here-->
        </div>
        <div class="col-lg-2">
            <!--Page spacing, no code needed here-->
        </div>
        <div class="col-lg-1">
            <!--Page spacing, no code needed here-->
        </div>
        <div class="col-lg-2">
            <br>
<div class="container">
    <div class="row">
            <a href="{% url 'index' %}" type="button" class="btn btn-primary btn-lg btn-block mb-2">Home</a>
    </div>
    <div class="row">
            <a href="{% url 'login' %}" type="button" class="btn btn-primary btn-lg btn-block">Login</a>
    </div>
</div>

        </div>
    </div>
</body>
</html>

{% endblock %}
