{% extends "gameplanapp/base_generic.html" %}
{% block content %}

<body>

    <!-- Message Details -->
    <section class="container">
        <h2>Create Message</h2>
            <div class="row">
                {% block form %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update">
                </form>
                {% endblock %}    
            </div>    
        </section>

        <!-- Message Details End -->
{% endblock %}   